/*l1*/
.p1_1{
    background-color: none;
}
.p1_2{
    background-color: #121924;
}
.p1_3{
    background-color: #171E27;
}
.p1_4{
    background-color: #192127;
}
.p1_5{
    background-color: #1E272A;
}
.p1_6{
    background-color: none;
}
.p1_7{
    background-color: #1C252A;
}
.p1_8{
    background-color: #1B252B;
}
.p1_9{
    background-color: none;
}
.p1_10{
    background-color: none;
}
.p1_11{
    background-color: none;
}
.p1_12{
    background-color: none;
}
/*l2*/
.p2_1{
    background-color: #111924;
}
.p2_2{
    background-color: #F8EC52;
}
.p2_3{
    background-color: #F8EC52;
}
.p2_4{
    background-color: #222725;
}
.p2_5{
    background-color: #9A863D;
}
.p2_6{
    background-color: #222725;
}
.p2_7{
    background-color: #FFF956;
}
.p2_8{
    background-color: #FFF956;
}
.p2_9{
    background-color: #222725;
}
.p2_10{
    background-color: none;
}
.p2_11{
    background-color: #222725;
}
.p2_12{
    background-color: none;
}
/*l3*/
.p3_1{
    background-color: #161E29;
}
.p3_2{
    background-color: #D73A3F;
}
.p3_3{
    background-color: #DF403F;
}
.p3_4{
    background-color: #FFF853;
}
.p3_5{
    background-color: #333325;
}
.p3_6{
    background-color: #FFFF54;
}
.p3_7{
    background-color: #FFFF56;
}
.p3_8{
    background-color: #FFFF56;
}
.p3_9{
    background-color: #FFFF56;
}
.p3_10{
    background-color: #25312E;
}
.p3_11{
    background-color: #FFFF56;
}
.p3_12{
    background-color: #25312E;
}
/*l4*/
.p4_1{
    background-color: #1A212C;
}
.p4_2{
    background-color: #DD3F41;
}
.p4_3{
    background-color: #E64640;
}
.p4_4{
    background-color: #FFFF52;
}
.p4_5{
    background-color: #FFFF52;
}
.p4_6{
    background-color: #FFFF52;
}
.p4_7{
    background-color: #C8BC35;
}
.p4_8{
    background-color: #C8BC35;
}
.p4_9{
    background-color: #FFFF52;
}
.p4_10{
    background-color: #FFFF52;
}
.p4_11{
    background-color: #FFFF52;
}
.p4_12{
    background-color: #17272E;
}
/*l5*/
.p5_1{
    background-color: #1B242D;
}
.p5_2{
    background-color: #B0A73B;
}
.p5_3{
    background-color: #BBB137;
}
.p5_4{
    background-color: #FFFF53;
}
.p5_5{
    background-color: #FFFF53;
}
.p5_6{
    background-color: #CFC134;
}
.p5_7{
    background-color: #B9A33B;
}
.p5_8{
    background-color: #B9A33B;
}
.p5_9{
    background-color: #CFC134;
}
.p5_10{
    background-color: #FFFF53;
}
.p5_11{
    background-color: #FFFF53;
}
.p5_12{
    background-color: #1B2B31;
}
/*l6*/
.p6_1{
    background-color: none;
}
.p6_2{
    background-color: #2C3231;
}
.p6_3{
    background-color: #383A2C;
}
.p6_4{
    background-color: #403F25;
}
.p6_5{
    background-color: #484423;
}
.p6_6{
    background-color: #4C4923;
}
.p6_7{
    background-color: #4C4B24;
}
.p6_8{
    background-color: #484A26;
}
.p6_9{
    background-color: #3E4327;
}
.p6_10{
    background-color: #333B2B;
}
.p6_11{
    background-color: #2A3532;
}
.p6_12{
    background-color: none;
}
/*l7*/
.p7_1{
    background-color: none;
}
.p7_2{
    background-color: none;
}
.p7_3{
    background-color: #393D2D;
}
.p7_4{
    background-color: #B59E3F;
}
.p7_5{
    background-color: #BDA43D;
}
.p7_6{
    background-color: #BDA43D;
}
.p7_7{
    background-color: #BDA43D;
}
.p7_8{
    background-color: #BDA43D;
}
.p7_9{
    background-color: #B2A140;
}
.p7_10{
    background-color: #38402F;
}
.p7_11{
    background-color: none;
}
.p7_12{
    background-color: none;
}
/*l8*/
.p8_1{
    background-color: none;
}
.p8_2{
    background-color: #2B3532;
}
.p8_3{
    background-color: #C0BB3D;
}
.p8_4{
    background-color: #FFFF70;
}
.p8_5{
    background-color: #FFFF52;
}
.p8_6{
    background-color: #FFFF52;
}
.p8_7{
    background-color: #FFFF52;
}
.p8_8{
    background-color: #FFFF52;
}
.p8_9{
    background-color: #C0BB3D;
}
.p8_10{
    background-color: #BCBA3B;
}
.p8_11{
    background-color: #2B3532;
}
.p8_12{
    background-color: none;
}
/*l9*/
.p9_1{
    background-color: none;
}
.p9_2{
    background-color: #293533;
}
.p9_3{
    background-color: #FFFF5C;
}
.p9_4{
    background-color: #FFFF70;
}
.p9_5{
    background-color: #FFFF5C;
}
.p9_6{
    background-color: #FFFF5C;
}
.p9_7{
    background-color: #FFFF5C;
}
.p9_8{
    background-color: #FFFF70;
}
.p9_9{
    background-color: #FFFF5C;
}
.p9_10{
    background-color: #FFFF5C;
}
.p9_11{
    background-color: #293533;
}
.p9_12{
    background-color: none;
}
/*l10*/
.p10_1{
    background-color: none;
}
.p10_2{
    background-color: #283434;
}
.p10_3{
    background-color: #FFFF5E;
}
.p10_4{
    background-color: #CCC53C;
}
.p10_5{
    background-color: #FFFF5E;
}
.p10_6{
    background-color: #FFFF6B;
}
.p10_7{
    background-color: #FFFF5E;
}
.p10_8{
    background-color: #CCC53C;
}
.p10_9{
    background-color: #FFFF5E;
}
.p10_10{
    background-color: #FFFF5E;
}
.p10_11{
    background-color: #283434;
}
.p10_12{
    background-color: none;
}
/*l11*/
.p11_1{
    background-color: none;
}
.p11_2{
    background-color: #293533;
}
.p11_3{
    background-color: #FFFF5C;
}
.p11_4{
    background-color: #C8C33E;
}
.p11_5{
    background-color: #FFFF54;
}
.p11_6{
    background-color: #D8CE35;
}
.p11_7{
    background-color: #FFFF54;
}
.p11_8{
    background-color: #CFC93A;
}
.p11_9{
    background-color: #C4BF37;
}
.p11_10{
    background-color: #B8B43D
}
.p11_11{
    background-color: #293533;
}
.p11_12{
    background-color: none;
}
/*l12*/
.p12_1{
    background-color: none;
}
.p12_2{
    background-color: none;
}
.p12_3{
    background-color: #29332D;
}
.p12_4{
    background-color: #FFFF5B;
}
.p12_5{
    background-color: #CAC33B;
}
.p12_6{
    background-color: #CFC63A;
}
.p12_7{
    background-color: #CFC63A;
}
.p12_8{
    background-color: #CAC33B;
}
.p12_9{
    background-color: #FFFF5B;
}
.p12_10{
    background-color: #29332D;
}
.p12_11{
    background-color: none;
}
.p12_12{
    background-color: none;
}
/*l13*/
.p13_1{
    background-color: none;
}
.p13_2{
    background-color: none;
}
.p13_3{
    background-color: none;
}
.p13_4{
    background-color: #19252C;
}
.p13_5{
    background-color: #FFFF59;
}
.p13_6{
    background-color: #BEBB3D;
}
.p13_7{
    background-color: #BEBB3D;
}
.p13_8{
    background-color: #FFFF59;
}
.p13_9{
    background-color: #19252C;
}
.p13_10{
    background-color: none;
}
.p13_11{
    background-color: none;
}
.p13_12{
    background-color: none;
}
/*l14*/
.p14_1{
    background-color: none;
}
.p14_2{
    background-color: none;
}
.p14_3{
    background-color: none;
}
.p14_4{
    background-color: none;
}
.p14_5{
    background-color: #19252C;
}
.p14_6{
    background-color: #FFFF59;
}
.p14_7{
    background-color: #FFFF59;
}
.p14_8{
    background-color: #19252C;
}
.p14_9{
    background-color: none;
}
.p14_10{
    background-color: none;
}
.p14_11{
    background-color: none;
}
.p14_12{
    background-color: none;
}
/*l15*/
.p15_1{
    background-color: none;
}
.p15_2{
    background-color: none;
}
.p15_3{
    background-color: none;
}
.p15_4{
    background-color: none;
}
.p15_5{
    background-color: none;
}
.p15_6{
    background-color: #19252C;
}
.p15_7{
    background-color: #19252C;
}
.p15_8{
    background-color: none;
}
.p15_9{
    background-color: none;
}
.p15_10{
    background-color: none;
}
.p15_11{
    background-color: ;
}
.p15_12{
    background-color: ;
}