/*l1*/
.p1_1{
    background-color: #2D2D37;
}
.p1_2{
    background-color: #2D2D37;
}
.p1_3{
    background-color: none;
}
.p1_4{
    background-color: none;
}
.p1_5{
    background-color: none;
}
.p1_6{
    background-color: #34313A;
}
.p1_7{
    background-color: #36333C;
}
.p1_8{
    background-color: none;
}
.p1_9{
    background-color: none;
}
.p1_10{
    background-color: none;
}
.p1_11{
    background-color: #2B2C35;
}
.p1_12{
    background-color: #272732;
}
/*l2*/
.p2_1{
    background-color: #2B2C36;
}
.p2_2{
    background-color: #ADA347;
}
.p2_3{
    background-color: #36343B;
}
.p2_4{
    background-color: none;
}
.p2_5{
    background-color: #3E353A;
}
.p2_6{
    background-color: #FFF163;
}
.p2_7{
    background-color: #FFF163;
}
.p2_8{
    background-color: #3D383C;
}
.p2_9{
    background-color: none;
}
.p2_10{
    background-color: #343239;
}
.p2_11{
    background-color: #ACA245;
}
.p2_12{
    background-color: #2C2C36;
}
/*l3*/
.p3_1{
    background-color: #2F313C;
}
.p3_2{
    background-color: #ADA347;
}
.p3_3{
    background-color: #FFF263;
}
.p3_4{
    background-color: #443B3B;
}
.p3_5{
    background-color: #F3514F;
}
.p3_6{
    background-color: #F7534F;
}
.p3_7{
    background-color: #F7544F;
}
.p3_8{
    background-color: #F4534F;
}
.p3_9{
    background-color: #433A39;
}
.p3_10{
    background-color: #FFF160;
}
.p3_11{
    background-color: #B2A546;
}
.p3_12{
    background-color: #2E2F39;
}
/*l4*/
.p4_1{
    background-color: #32343D;
}
.p4_2{
    background-color: #A48D51;
}
.p4_3{
    background-color: #FFF862;
}
.p4_4{
    background-color: #FFF862;
}
.p4_5{
    background-color: #FE584C;
}
.p4_6{
    background-color: #FF5A4B;
}
.p4_7{
    background-color: #FF5C4E;
}
.p4_8{
    background-color: #FF584E;
}
.p4_9{
    background-color: #FFFA62;
}
.p4_10{
    background-color: #FFFA62;
}
.p4_11{
    background-color: #A48C4F;
}
.p4_12{
    background-color: #32333B;
}
/*l5*/
.p5_1{
    background-color: #2D2D37;
}
.p5_2{
    background-color: #AA9253;
}
.p5_3{
    background-color: #C7B549;
}
.p5_4{
    background-color: #FFFF61;
}
.p5_5{
    background-color: #FFFF61;
}
.p5_6{
    background-color: #DCBE43;
}
.p5_7{
    background-color: #DCBE43;
}
.p5_8{
    background-color: #FFFF61;
}
.p5_9{
    background-color: #FFFF61;
}
.p5_10{
    background-color: #C6B346;
}
.p5_11{
    background-color: #A89050;
}
.p5_12{
    background-color: #32333B;
}
/*l6*/
.p6_1{
    background-color: none;
}
.p6_2{
    background-color: #40403F;
}
.p6_3{
    background-color: #4D473D;
}
.p6_4{
    background-color: #574C3A;
}
.p6_5{
    background-color: #5D4E35;
}
.p6_6{
    background-color: #625032;
}
.p6_7{
    background-color: #625032;
}
.p6_8{
    background-color: #5D4D34;
}
.p6_9{
    background-color: #554934;
}
.p6_10{
    background-color: #4B443A;
}
.p6_11{
    background-color: #413E3C;
}
.p6_12{
    background-color: none;
}
/*l7*/
.p7_1{
    background-color: none;
}
.p7_2{
    background-color: none;
}
.p7_3{
    background-color: #4E4A3D;
}
.p7_4{
    background-color: #C4A44E;
}
.p7_5{
    background-color: #CCA94C;
}
.p7_6{
    background-color: #D2AB4A;
}
.p7_7{
    background-color: #D1AC4A;
}
.p7_8{
    background-color: #CCA84E;
}
.p7_9{
    background-color: #C4A34C;
}
.p7_10{
    background-color: #4C4539;
}
.p7_11{
    background-color: none;
}
.p7_12{
    background-color: none;
}
/*l8*/
.p8_1{
    background-color: none;
}
.p8_2{
    background-color: #444442;
}
.p8_3{
    background-color: #CEBF4C;
}
.p8_4{
    background-color: #FFFF62;
}
.p8_5{
    background-color: #FFFF62;
}
.p8_6{
    background-color: #FFFF62;
}
.p8_7{
    background-color: #FFFF62;
}
.p8_8{
    background-color: #FFFF77;
}
.p8_9{
    background-color: #D8C646;
}
.p8_10{
    background-color: #CDBD49;
}
.p8_11{
    background-color: #41403D;
}
.p8_12{
    background-color: none;
}
/*l9*/
.p9_1{
    background-color: none;
}
.p9_2{
    background-color: #424342;
}
.p9_3{
    background-color: #FFFF7E;
}
.p9_4{
    background-color: #FFFF64;
}
.p9_5{
    background-color: #FFFF64;
}
.p9_6{
    background-color: #FFFF7E;
}
.p9_7{
    background-color: #FFFF64;
}
.p9_8{
    background-color: #FFFF64;
}
.p9_9{
    background-color: #FFFF64;
}
.p9_10{
    background-color: #FFFF7E;
}
.p9_11{
    background-color: #41403E;
}
.p9_12{
    background-color: none;
}
/*l10*/
.p10_1{
    background-color: none;
}
.p10_2{
    background-color: #404142;
}
.p10_3{
    background-color: #CCC04C;
}
.p10_4{
    background-color: #FFFF64;
}
.p10_5{
    background-color: #FFFF64;
}
.p10_6{
    background-color: #E9D546;
}
.p10_7{
    background-color: #FFFF64;
}
.p10_8{
    background-color: #FFFF79;
}
.p10_9{
    background-color: #FFFF64;
}
.p10_10{
    background-color: #CCBE4C;
}
.p10_11{
    background-color: #40403F;
}
.p10_12{
    background-color: none;
}
/*l11*/
.p11_1{
    background-color: none;
}
.p11_2{
    background-color: #3D3F42;
}
.p11_3{
    background-color: #FFFF6A;
}
.p11_4{
    background-color: #D6C74B;
}
.p11_5{
    background-color: #FFFF6A;
}
.p11_6{
    background-color: #FFFF6A;
}
.p11_7{
    background-color: #FFFF6A;
}
.p11_8{
    background-color: #DFCE49;
}
.p11_9{
    background-color: #D5C64B;
}
.p11_10{
    background-color: #FFFF6A;
}
.p11_11{
    background-color: #3D3E40;
}
.p11_12{
    background-color: none;
}
/*l12*/
.p12_1{
    background-color: none;
}
.p12_2{
    background-color: none;
}
.p12_3{
    background-color: #434341;
}
.p12_4{
    background-color: #FFFF67;
}
.p12_5{
    background-color: #D7CA4B;
}
.p12_6{
    background-color: #DDCE4B;
}
.p12_7{
    background-color: #DDCE4C;
}
.p12_8{
    background-color: #D7C94C;
}
.p12_9{
    background-color: #FFFF67;
}
.p12_10{
    background-color: #434340;
}
.p12_11{
    background-color: none;
}
.p12_12{
    background-color: none;
}
/*l13*/
.p13_1{
    background-color: none;
}
.p13_2{
    background-color: none;
}
.p13_3{
    background-color: none;
}
.p13_4{
    background-color: #444642;
}
.p13_5{
    background-color: #FFFF6A;
}
.p13_6{
    background-color: #CEC24F;
}
.p13_7{
    background-color: #CEC24F;
}
.p13_8{
    background-color: #FFFF69;
}
.p13_9{
    background-color: #42433F;
}
.p13_10{
    background-color: none;
}
.p13_11{
    background-color: none;
}
.p13_12{
    background-color: none;
}
/*l14*/
.p14_1{
    background-color: none;
}
.p14_2{
    background-color: none;
}
.p14_3{
    background-color: none;
}
.p14_4{
    background-color: none;
}
.p14_5{
    background-color: #3D4040;
}
.p14_6{
    background-color: #FFFF6A;
}
.p14_7{
    background-color: #FFFF6A;
}
.p14_8{
    background-color: #3D4040;
}
.p14_9{
    background-color: none;
}
.p14_10{
    background-color: none;
}
.p14_11{
    background-color: none;
}
.p14_12{
    background-color: none;
}
/*l15*/
.p15_1{
    background-color: none;
}
.p15_2{
    background-color: none;
}
.p15_3{
    background-color: none;
}
.p15_4{
    background-color: none;
}
.p15_5{
    background-color: none;
}
.p15_6{
    background-color: #3D4040;
}
.p15_7{
    background-color: #3D4040;
}
.p15_8{
    background-color: none;
}
.p15_9{
    background-color: none;
}
.p15_10{
    background-color: none;
}
.p15_11{
    background-color: none;
}
.p15_12{
    background-color: none;
}