/*l1*/
.p1_1{
    background-color: none;
}
.p1_2{
    background-color: none;
}
.p1_3{
    background-color: #26242B;
}
.p1_4{
    background-color: #2A272D;
}
.p1_5{
    background-color: none;
}
.p1_6{
    background-color: none;
}
.p1_7{
    background-color: none;
}
.p1_8{
    background-color: #29252C;
}
.p1_9{
    background-color: #262129;
}
.p1_10{
    background-color: #24212A;
}
.p1_11{
    background-color: none;
}
.p1_12{
    background-color: none;
}
/*l2*/
.p2_1{
    background-color: none;
}
.p2_2{
    background-color: #28252B;
}
.p2_3{
    background-color: #FDEB56;
}
.p2_4{
    background-color: #FDEB56;
}
.p2_5{
    background-color: #332E2C;
}
.p2_6{
    background-color: none;
}
.p2_7{
    background-color: #362F2D;
}
.p2_8{
    background-color: #FFED56;
}
.p2_9{
    background-color: #FFED56;
}
.p2_10{
    background-color: #2A252B;
}
.p2_11{
    background-color: #26222B;
}
.p2_12{
    background-color: none;
}
/*l3*/
.p3_1{
    background-color: #27272E;
}
.p3_2{
    background-color: #FEEC59;
}
.p3_3{
    background-color: #FFF159;
}
.p3_4{
    background-color: #FFF159;
}
.p3_5{
    background-color: #FFF159;
}
.p3_6{
    background-color: #44392F;
}
.p3_7{
    background-color: #FFF555;
}
.p3_8{
    background-color: #EF4941;
}
.p3_9{
    background-color: #EB4442;
}
.p3_10{
    background-color: #FFEC56;
}
.p3_11{
    background-color: #2B272D;
}
.p3_12{
    background-color: none;
}
/*l4*/
.p4_1{
    background-color: #292930;
}
.p4_2{
    background-color: #FEEC59;
}
.p4_3{
    background-color: #BDAD3E;
}
.p4_4{
    background-color: #C5B23C;
}
.p4_5{
    background-color: #FFFF55;
}
.p4_6{
    background-color: #FFFF55;
}
.p4_7{
    background-color: #FF5440;
}
.p4_8{
    background-color: #FC5040;
}
.p4_9{
    background-color: #F54E43;
}
.p4_10{
    background-color: #FFF256;
}
.p4_11{
    background-color: #FFEE5B;
}
.p4_12{
    background-color: #282730;
}
/*l5*/
.p5_1{
    background-color: #2D2E33;
}
.p5_2{
    background-color: #B9AB41;
}
.p5_3{
    background-color: #B09346;
}
.p5_4{
    background-color: #BA9A43;
}
.p5_5{
    background-color: #D5BC37;
}
.p5_6{
    background-color: #FFFF54;
}
.p5_7{
    background-color: #FFFF54;
}
.p5_8{
    background-color: #D7BA3A;
}
.p5_9{
    background-color: #CFB43A;
}
.p5_10{
    background-color: #FFF957;
}
.p5_11{
    background-color: #FFF957;
}
.p5_12{
    background-color: #2C2C33;
}
/*l6*/
.p6_1{
    background-color: none;
}
.p6_2{
    background-color: #393633;
}
.p6_3{
    background-color: #464131;
}
.p6_4{
    background-color: #51472D;
}
.p6_5{
    background-color: #56492A;
}
.p6_6{
    background-color: #5D4D2A;
}
.p6_7{
    background-color: #5D4C2A;
}
.p6_8{
    background-color: #5A492C;
}
.p6_9{
    background-color: #52432D;
}
.p6_10{
    background-color: #473D31;
}
.p6_11{
    background-color: #383432;
}
.p6_12{
    background-color: none;
}
/*l7*/
.p7_1{
    background-color: none;
}
.p7_2{
    background-color: none;
}
.p7_3{
    background-color: #474232;
}
.p7_4{
    background-color: #C09F43;
}
.p7_5{
    background-color: #C9A540;
}
.p7_6{
    background-color: #CFA83F;
}
.p7_7{
    background-color: #CFA83F;
}
.p7_8{
    background-color: #CAA340;
}
.p7_9{
    background-color: #C29F44;
}
.p7_10{
    background-color: #4B4233;
}
.p7_11{
    background-color: none;
}
.p7_12{
    background-color: none;
}
/*l8*/
.p8_1{
    background-color: none;
}
.p8_2{
    background-color: #3B3A36;
}
.p8_3{
    background-color: #CBBB43;
}
.p8_4{
    background-color: #FFFF5B;
}
.p8_5{
    background-color: #FFFF5B;
}
.p8_6{
    background-color: #FFFF5B;
}
.p8_7{
    background-color: #FFFF5B;
}
.p8_8{
    background-color: #FFFF5B;
}
.p8_9{
    background-color: #FFFF5B;
}
.p8_10{
    background-color: #CDBC41;
}
.p8_11{
    background-color: #3C3A36;
}
.p8_12{
    background-color: none;
}
/*l9*/
.p9_1{
    background-color: none;
}
.p9_2{
    background-color: #3D3D3A;
}
.p9_3{
    background-color: #FFFF5F;
}
.p9_4{
    background-color: #FFFF72;
}
.p9_5{
    background-color: #FFFF56;
}
.p9_6{
    background-color: #FFFF56;
}
.p9_7{
    background-color: #FFFF72;
}
.p9_8{
    background-color: #FFFF56;
}
.p9_9{
    background-color: #FFFF56;
}
.p9_10{
    background-color: #FFFF56;
}
.p9_11{
    background-color: #3B3A34;
}
.p9_12{
    background-color: none;
}
/*l10*/
.p10_1{
    background-color: none;
}
.p10_2{
    background-color: #39393A;
}
.p10_3{
    background-color: #FFFF61;
}
.p10_4{
    background-color: #D8C440;
}
.p10_5{
    background-color: #FFFF61;
}
.p10_6{
    background-color: #FFFF61;
}
.p10_7{
    background-color: #E9D13B;
}
.p10_8{
    background-color: #FFFF61;
}
.p10_9{
    background-color: #FFFF72;
}
.p10_10{
    background-color: #FFFF61;
}
.p10_11{
    background-color: #3A3836;
}
.p10_12{
    background-color: none;
}
/*l11*/
.p11_1{
    background-color: none;
}
.p11_2{
    background-color: #373839;
}
.p11_3{
    background-color: #FFFF61;
}
.p11_4{
    background-color: #D5C240;
}
.p11_5{
    background-color: #FFFF61;
}
.p11_6{
    background-color: #FFFF61;
}
.p11_7{
    background-color: #FFFF61;
}
.p11_8{
    background-color: #FFFF61;
}
.p11_9{
    background-color: #D5C240;
}
.p11_10{
    background-color: #FFFF61;
}
.p11_11{
    background-color: #383635;
}
.p11_12{
    background-color: none;
}
/*l12*/
.p12_1{
    background-color: none;
}
.p12_2{
    background-color: none;
}
.p12_3{
    background-color: #413E37;
}
.p12_4{
    background-color: #FFFF5D;
}
.p12_5{
    background-color: #D7C23F;
}
.p12_6{
    background-color: #DBC63B;
}
.p12_7{
    background-color: #DBC63B;
}
.p12_8{
    background-color: #D6C33E;
}
.p12_9{
    background-color: #FFFF5B;
}
.p12_10{
    background-color: #403D35;
}
.p12_11{
    background-color: none;
}
.p12_12{
    background-color: none;
}
/*l13*/
.p13_1{
    background-color: none;
}
.p13_2{
    background-color: none;
}
.p13_3{
    background-color: none;
}
.p13_4{
    background-color: #3E3B34;
}
.p13_5{
    background-color: #FFFF5D;
}
.p13_6{
    background-color: #CFBD40;
}
.p13_7{
    background-color: #CFBD40;
}
.p13_8{
    background-color: #FFFF5D;
}
.p13_9{
    background-color: #3E3B34;
}
.p13_10{
    background-color: none;
}
.p13_11{
    background-color: none;
}
.p13_12{
    background-color: none;
}
/*l14*/
.p14_1{
    background-color: none;
}
.p14_2{
    background-color: none;
}
.p14_3{
    background-color: none;
}
.p14_4{
    background-color: none;
}
.p14_5{
    background-color: #3A3635;
}
.p14_6{
    background-color: #FFFA5E;
}
.p14_7{
    background-color: #FFFA5E;
}
.p14_8{
    background-color: #3A3635;
}
.p14_9{
    background-color: none;
}
.p14_10{
    background-color: none;
}
.p14_11{
    background-color: none;
}
.p14_12{
    background-color: none;
}
/*l15*/
.p15_1{
    background-color: none;
}
.p15_2{
    background-color: none;
}
.p15_3{
    background-color: none;
}
.p15_4{
    background-color: none;
}
.p15_5{
    background-color: none;
}
.p15_6{
    background-color: #2F2E33;
}
.p15_7{
    background-color: #2F2E33;
}
.p15_8{
    background-color: none;
}
.p15_9{
    background-color: none;
}
.p15_10{
    background-color: none;
}
.p15_11{
    background-color: none;
}
.p15_12{
    background-color: none;
}