/*l1*/
.p1_1{
    background-color: none;
}
.p1_2{
    background-color: #2C3842;
}
.p1_3{
    background-color: none;
}
.p1_4{
    background-color: none;
}
.p1_5{
    background-color: none;
}
.p1_6{
    background-color: #2C3842;
}
.p1_7{
    background-color: #2C3842;
}
.p1_8{
    background-color: none;
}
.p1_9{
    background-color: none;
}
.p1_10{
    background-color: none;
}
.p1_11{
    background-color: #2C3842;
}
.p1_12{
    background-color: none;
}
/*l2*/
.p2_1{
    background-color: #2C3842;
}
.p2_2{
    background-color: #F0EE6B;
}
.p2_3{
    background-color: #2C3842;
}
.p2_4{
    background-color: none;
}
.p2_5{
    background-color: #2C3842;
}
.p2_6{
    background-color: #F0EE6B;
}
.p2_7{
    background-color: #F0EE6B;
}
.p2_8{
    background-color: #2C3842;
}
.p2_9{
    background-color: none;
}
.p2_10{
    background-color: #2C3842;
}
.p2_11{
    background-color: #F0EE6B;
}
.p2_12{
    background-color: #2C3842;
}
/*l3*/
.p3_1{
    background-color: #2F3C45;
}
.p3_2{
    background-color: #D9545B;
}
.p3_3{
    background-color: #FDF66D;
}
.p3_4{
    background-color: #434B45;
}
.p3_5{
    background-color: #FFFF6C;
}
.p3_6{
    background-color: #FFFF6C;
}
.p3_7{
    background-color: #FFFF6C;
}
.p3_8{
    background-color: #FFFF6C;
}
.p3_9{
    background-color: #414743;
}
.p3_10{
    background-color: #FEF86D;
}
.p3_11{
    background-color: #D9525A;
}
.p3_12{
    background-color: #303A43;
}
/*l4*/
.p4_1{
    background-color: #323F47;
}
.p4_2{
    background-color: #DE5A5B;
}
.p4_3{
    background-color: #FFFD6D;
}
.p4_4{
    background-color: #FFFD6D;
}
.p4_5{
    background-color: #FFFD6D;
}
.p4_6{
    background-color: #CCC74F;
}
.p4_7{
    background-color: #CCC74F;
}
.p4_8{
    background-color: #FFFD6D;
}
.p4_9{
    background-color: #FFFD6D;
}
.p4_10{
    background-color: #FFFD6D;
}
.p4_11{
    background-color: #DF575B;
}
.p4_12{
    background-color: #323E47;
}
/*l5*/
.p5_1{
    background-color: #37434C;
}
.p5_2{
    background-color: #B6B556;
}
.p5_3{
    background-color: #FFFD6D;
}
.p5_4{
    background-color: #FFFD6D;
}
.p5_5{
    background-color: #B6B556;
}
.p5_6{
    background-color: #C2AE55;
}
.p5_7{
    background-color: #C2AE55;
}
.p5_8{
    background-color: #B6B556;
}
.p5_9{
    background-color: #FFFD6D;
}
.p5_10{
    background-color: #FFFD6D;
}
.p5_11{
    background-color: #B6B556;
}
.p5_12{
    background-color: #344049;
}
/*l6*/
.p6_1{
    background-color: none;
}
.p6_2{
    background-color: #424D4C;
}
.p6_3{
    background-color: #4D5449;
}
.p6_4{
    background-color: #565B44;
}
.p6_5{
    background-color: #5D5F43;
}
.p6_6{
    background-color: #606241;
}
.p6_7{
    background-color: #606140;
}
.p6_8{
    background-color: #5A5C40;
}
.p6_9{
    background-color: #545641;
}
.p6_10{
    background-color: #4C5245;
}
.p6_11{
    background-color: #424B49;
}
.p6_12{
    background-color: none;
}
/*l7*/
.p7_1{
    background-color: none;
}
.p7_2{
    background-color: none;
}
.p7_3{
    background-color: #4E5747;
}
.p7_4{
    background-color: #BDAF5B;
}
.p7_5{
    background-color: #C5B357;
}
.p7_6{
    background-color: #C5B357;
}
.p7_7{
    background-color: #C5B357;
}
.p7_8{
    background-color: #C5B357;
}
.p7_9{
    background-color: #BDAC57;
}
.p7_10{
    background-color: #4D5345;
}
.p7_11{
    background-color: none;
}
.p7_12{
    background-color: none;
}
/*l8*/
.p8_1{
    background-color: none;
}
.p8_2{
    background-color: #45524F;
}
.p8_3{
    background-color: #C7C657;
}
.p8_4{
    background-color: #FFFF81;
}
.p8_5{
    background-color: #FFFD6D;
}
.p8_6{
    background-color: #FFFD6D;
}
.p8_7{
    background-color: #FFFD6D;
}
.p8_8{
    background-color: #FFFD6D;
}
.p8_9{
    background-color: #FFFD6D;
}
.p8_10{
    background-color: #C6C353;
}
.p8_11{
    background-color: #424C4A;
}
.p8_12{
    background-color: none;
}
/*l9*/
.p9_1{
    background-color: none;
}
.p9_2{
    background-color: #424C4A;
}
.p9_3{
    background-color: #FFFD6D;
}
.p9_4{
    background-color: #FFFD6D;
}
.p9_5{
    background-color: #FFFD6D;
}
.p9_6{
    background-color: #FFFF81;
}
.p9_7{
    background-color: #FFFD6D;
}
.p9_8{
    background-color: #FFFD6D;
}
.p9_9{
    background-color: #FFFF81;
}
.p9_10{
    background-color: #FFFD6D;
}
.p9_11{
    background-color: #424C4A;
}
.p9_12{
    background-color: none;
}
/*l10*/
.p10_1{
    background-color: none;
}
.p10_2{
    background-color: #424C4A;
}
.p10_3{
    background-color: #FFFD6D;
}
.p10_4{
    background-color: #FFFF81;
}
.p10_5{
    background-color: #FFFD6D;
}
.p10_6{
    background-color: #E1DA52;
}
.p10_7{
    background-color: #FFFD6D;
}
.p10_8{
    background-color: #FFFD6D;
}
.p10_9{
    background-color: #E1DA52;
}
.p10_10{
    background-color: #FFFD6D;
}
.p10_11{
    background-color: #424C4A;
}
.p10_12{
    background-color: none;
}
/*l11*/
.p11_1{
    background-color: none;
}
.p11_2{
    background-color: #424C4A;
}
.p11_3{
    background-color: #FFFD6D;
}
.p11_4{
    background-color: #E1DA52;
}
.p11_5{
    background-color: #FFFD6D;
}
.p11_6{
    background-color: #FFFD6D;
}
.p11_7{
    background-color: #FFFD6D;
}
.p11_8{
    background-color: #FFFD6D;
}
.p11_9{
    background-color: #E1DA52;
}
.p11_10{
    background-color: #FFFD6D;
}
.p11_11{
    background-color: #424C4A;
}
.p11_12{
    background-color: none;
}
/*l12*/
.p12_1{
    background-color: none;
}
.p12_2{
    background-color: none;
}
.p12_3{
    background-color: #424C4A;
}
.p12_4{
    background-color: #FFFF71;
}
.p12_5{
    background-color: #E1DA52;
}
.p12_6{
    background-color: #FFFD6D;
}
.p12_7{
    background-color: #FFFD6D;
}
.p12_8{
    background-color: #E1DA52;
}
.p12_9{
    background-color: #FFFF71;
}
.p12_10{
    background-color: #424C4A;
}
.p12_11{
    background-color: none;
}
.p12_12{
    background-color: none;
}
/*l13*/
.p13_1{
    background-color: ;
}
.p13_2{
    background-color: ;
}
.p13_3{
    background-color: ;
}
.p13_4{
    background-color: #424C4A;
}
.p13_5{
    background-color: #FFFF71;
}
.p13_6{
    background-color: #C8C757;
}
.p13_7{
    background-color: #C8C757;
}
.p13_8{
    background-color: #FFFF71;
}
.p13_9{
    background-color: #424C4A;
}
.p13_10{
    background-color: none;
}
.p13_11{
    background-color: none;
}
.p13_12{
    background-color: none;
}
/*l14*/
.p14_1{
    background-color: none;
}
.p14_2{
    background-color: none;
}
.p14_3{
    background-color: none;
}
.p14_4{
    background-color: none;
}
.p14_5{
    background-color: #424C4A;
}
.p14_6{
    background-color: #FFFF72;
}
.p14_7{
    background-color: #FFFF72;
}
.p14_8{
    background-color: #424C4A;
}
.p14_9{
    background-color: none;
}
.p14_10{
    background-color: none;
}
.p14_11{
    background-color: none;
}
.p14_12{
    background-color: none;
}
/*l15*/
.p15_1{
    background-color: none;
}
.p15_2{
    background-color: none;
}
.p15_3{
    background-color: none;
}
.p15_4{
    background-color: none;
}
.p15_5{
    background-color: none;
}
.p15_6{
    background-color: #424C4A;
}
.p15_7{
    background-color: #424C4A;
}
.p15_8{
    background-color: none;
}
.p15_9{
    background-color: none;
}
.p15_10{
    background-color: none;
}
.p15_11{
    background-color: none;
}
.p15_12{
    background-color: none;
}