/*l1*/
.p1_1{
    background-color: none;
}
.p1_2{
    background-color: #252C3A;
}
.p1_3{
    background-color: #282F3B;
}
.p1_4{
    background-color: #2B313C;
}
.p1_5{
    background-color: #2E333D;
}
.p1_6{
    background-color: none;
}
.p1_7{
    background-color: none;
}
.p1_8{
    background-color: none;
}
.p1_9{
    background-color: #2B343E;
}
.p1_10{
    background-color: #27303C;
}
.p1_11{
    background-color: none;
}
.p1_12{
    background-color: none;
}
/*l2*/
.p2_1{
    background-color: #272E3C;
}
.p2_2{
    background-color: #948451;
}
.p2_3{
    background-color: #30343D;
}
.p2_4{
    background-color: #FBEE63;
}
.p2_5{
    background-color: #FBEE63;
}
.p2_6{
    background-color: #3A3E3E;
}
.p2_7{
    background-color: none;
}
.p2_8{
    background-color: #3A3E3E;
}
.p2_9{
    background-color: #FCF266;
}
.p2_10{
    background-color: #FCF266;
}
.p2_11{
    background-color: #2B333D;
}
.p2_12{
    background-color: none;
}
/*l3*/
.p3_1{
    background-color: #2A313E;
}
.p3_2{
    background-color: #32363F;
}
.p3_3{
    background-color: #FEF064;
}
.p3_4{
    background-color: #E65151;
}
.p3_5{
    background-color: #EC5551;
}
.p3_6{
    background-color: #FFFD63;
}
.p3_7{
    background-color: #28313D;
}
.p3_8{
    background-color: #FFFD63;
}
.p3_9{
    background-color: #FFFD63;
}
.p3_10{
    background-color: #FFFD63;
}
.p3_11{
    background-color: #FFFD63;
}
.p3_12{
    background-color: #28313D;
}
/*l4*/
.p4_1{
    background-color: #2C333F;
}
.p4_2{
    background-color: #FDF167;
}
.p4_3{
    background-color: #FDF167;
}
.p4_4{
    background-color: #F05850;
}
.p4_5{
    background-color: #F75D4F;
}
.p4_6{
    background-color: #FFFF62;
}
.p4_7{
    background-color: #FFFF62;
}
.p4_8{
    background-color: #FFFF62;
}
.p4_9{
    background-color: #C2BA4A;
}
.p4_10{
    background-color: #B9B44A;
}
.p4_11{
    background-color: #FFFF62;
}
.p4_12{
    background-color: #2C343F;
}
/*l5*/
.p5_1{
    background-color: #2E3541;
}
.p5_2{
    background-color: #B5AE4E;
}
.p5_3{
    background-color: #FFFD66;
}
.p5_4{
    background-color: #CABB4A;
}
.p5_5{
    background-color: #CABB4A;
}
.p5_6{
    background-color: #FFFF61;
}
.p5_7{
    background-color: #FFFF61;
}
.p5_8{
    background-color: #CFC146
}
.p5_9{
    background-color: #B6A04E;
}
.p5_10{
    background-color: #AC9850;
}
.p5_11{
    background-color: #FFFF61;
}
.p5_12{
    background-color: #2C343E;
}
/*l6*/
.p6_1{
    background-color: none;
}
.p6_2{
    background-color: #3C4244;
}
.p6_3{
    background-color: #48493F;
}
.p6_4{
    background-color: #524E3C;
}
.p6_5{
    background-color: #575037;
}
.p6_6{
    background-color: #5C5539;
}
.p6_7{
    background-color: #5A5437;
}
.p6_8{
    background-color: #545035;
}
.p6_9{
    background-color: #4D4E3A;
}
.p6_10{
    background-color: #464A3E;
}
.p6_11{
    background-color: #393F3F;
}
.p6_12{
    background-color: none;
}
/*l7*/
.p7_1{
    background-color: none;
}
.p7_2{
    background-color: none;
}
.p7_3{
    background-color: #4A4C41;
}
.p7_4{
    background-color: #BCA451;
}
.p7_5{
    background-color: #C3A84E;
}
.p7_6{
    background-color: #C3A84E;
}
.p7_7{
    background-color: #C3A84E;
}
.p7_8{
    background-color: #C3A84E;
}
.p7_9{
    background-color: #B9A34F;
}
.p7_10{
    background-color: #45473C;
}
.p7_11{
    background-color: none;
}
.p7_12{
    background-color: none;
}
/*l8*/
.p8_1{
    background-color: none;
}
.p8_2{
    background-color: #3E4545;
}
.p8_3{
    background-color: #C6BF4F;
}
.p8_4{
    background-color: #FFFF7C;
}
.p8_5{
    background-color: #FFFF62;
}
.p8_6{
    background-color: #FFFF62;
}
.p8_7{
    background-color: #FFFF62;
}
.p8_8{
    background-color: #D6C946;
}
.p8_9{
    background-color: #CDC247;
}
.p8_10{
    background-color: #C6BF4F;
}
.p8_11{
    background-color: #3E4545;
}
.p8_12{
    background-color: none;
}
/*l9*/
.p9_1{
    background-color: none;
}
.p9_2{
    background-color: #3B4444;
}
.p9_3{
    background-color: #FFFF69;
}
.p9_4{
    background-color: #FFFF69;
}
.p9_5{
    background-color: #FFFF7A;
}
.p9_6{
    background-color: #FFFF69;
}
.p9_7{
    background-color: #FFFF69;
}
.p9_8{
    background-color: #FFFF69;
}
.p9_9{
    background-color: #FFFF7A;
}
.p9_10{
    background-color: #FFFF69;
}
.p9_11{
    background-color: #3B4444;
}
.p9_12{
    background-color: none;
}
/*l10*/
.p10_1{
    background-color: none;
}
.p10_2{
    background-color: #3B4245;
}
.p10_3{
    background-color: #FFFF6A;
}
.p10_4{
    background-color: #FFFF6A;
}
.p10_5{
    background-color: #D8CE49;
}
.p10_6{
    background-color: #FFFF6A;
}
.p10_7{
    background-color: #FFFF79;
}
.p10_8{
    background-color: #FFFF6A;
}
.p10_9{
    background-color: #D8CE49;
}
.p10_10{
    background-color: #FFFF6A;
}
.p10_11{
    background-color: #383E3F;
}
.p10_12{
    background-color: none;
}
/*l11*/
.p11_1{
    background-color: none;
}
.p11_2{
    background-color: #384046;
}
.p11_3{
    background-color: #FFFF6D;
}
.p11_4{
    background-color: #CDC54E;
}
.p11_5{
    background-color: #FFFF6D;
}
.p11_6{
    background-color: #FFFF6D;
}
.p11_7{
    background-color: #CDC54E;
}
.p11_8{
    background-color: #FFFF6D;
}
.p11_9{
    background-color: #CDC54E;
}
.p11_10{
    background-color: #FFFF6D;
}
.p11_11{
    background-color: #384046;
}
.p11_12{
    background-color: none;
}
/*l12*/
.p12_1{
    background-color: none;
}
.p12_2{
    background-color: none;
}
.p12_3{
    background-color: #3D4544;
}
.p12_4{
    background-color: #FFFF6C;
}
.p12_5{
    background-color: #CEC64D;
}
.p12_6{
    background-color: #D4CB4D;
}
.p12_7{
    background-color: #D4CB4D;
}
.p12_8{
    background-color: #CEC64D;
}
.p12_9{
    background-color: #FFFF6C
}
.p12_10{
    background-color: #3D4544;
}
.p12_11{
    background-color: none;
}
.p12_12{
    background-color: none;
}
/*l13*/
.p13_1{
    background-color: none;
}
.p13_2{
    background-color: none;
}
.p13_3{
    background-color: none;
}
.p13_4{
    background-color: #373F44;
}
.p13_5{
    background-color: #FFFF6A;
}
.p13_6{
    background-color: #C5C050;
}
.p13_7{
    background-color: #C5C050;
}
.p13_8{
    background-color: #FFFF6A;
}
.p13_9{
    background-color: #373F44;
}
.p13_10{
    background-color: none;
}
.p13_11{
    background-color: none;
}
.p13_12{
    background-color: none;
}
/*l14*/
.p14_1{
    background-color: none;
}
.p14_2{
    background-color: none;
}
.p14_3{
    background-color: none;
}
.p14_4{
    background-color: none;
}
.p14_5{
    background-color: #373F44;
}
.p14_6{
    background-color: #FFFF6A;
}
.p14_7{
    background-color: #FFFF6A;
}
.p14_8{
    background-color: #373F44;
}
.p14_9{
    background-color: none;
}
.p14_10{
    background-color: none;
}
.p14_11{
    background-color: none;
}
.p14_12{
    background-color: none;
}
/*l15*/
.p15_1{
    background-color: none;
}
.p15_2{
    background-color: none;
}
.p15_3{
    background-color: none;
}
.p15_4{
    background-color: none;
}
.p15_5{
    background-color: none;
}
.p15_6{
    background-color: #373F44;
}
.p15_7{
    background-color: #373F44;
}
.p15_8{
    background-color: none;
}
.p15_9{
    background-color: none;
}
.p15_10{
    background-color: none;
}
.p15_11{
    background-color: none;
}
.p15_12{
    background-color: none;
}